@media (max-width:991px) {
    body.poster {
        margin-top: 60vh;
    }
}

body.poster {
    background-attachment: fixed;
}

.top-5 {
    top: 5px;
}
.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* Default style for profile names and locations */
.profile-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
line-height: 0.5;
  margin-top: 10px;
}

.profile-location {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.profile-location-2 {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
    line-height: 1;
}

/* Style for smaller screens */
@media (max-width: 767px) {
  .profile-name {
    font-size: 14px;
    margin-top: 5px;
  }

  .profile-location {
    font-size: 8px;
    margin-bottom: 10px;
      line-height: 0.5;
  }
    .profile-location-2 {
    font-size: 8px;
        margin-bottom: 10px;
    margin-bottom: 5px;
  }


  .profile-picture {
    width: 100px;
    height: 100px;
  }
}

/* Style for larger screens */
@media (min-width: 768px) {
  .profile-picture {
    width: 150px;
    height: 150px;
  }
}